<div id="container">
    <div id="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div id="logo" class="navbar-brand"></div>
            <bSwitch switch-on-text="Edit" switch-off-text="Read" (changeState)="isEdit = !isEdit"></bSwitch>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="body">
        <router-outlet></router-outlet>
    </div>
    <div id="bottom">

    </div>
</div>
