<div>
    <div>
        <button type="button" class="btn btn-block collapse-btn" [class.selected-list-item-button] = "isSelected"
                [attr.aria-expanded]="!isSelected"
                [attr.aria-controls]="item.id + '-content'" (click)="itemClick()">
            <p>{{item.name}}</p>
        </button>
    </div>
    <div id="{{item.id}}-content" class="collapse" [ngbCollapse]="!isSelected">
        <ks-area-list [country]="item" [isShow]="isSelected"></ks-area-list>
    </div>
    <div>
        <button *ngIf="isEdit" class="btn btn-block add-list-item-button">Add area</button>
    </div>
</div>