.collapse-btn {
	background-color: rgba(105, 105, 84, 0.41);
}
.selected-list-item-container {
	background-color: rgba(225, 224, 153, 0.41);
}
@keyframes add-item-button-show-anim {
	from {opacity: 0;width: 50%}
	to {opacity: 1;width: 100%}
}
.add-item-button-hover {
	animation-name: add-item-button-show-anim;
	animation-duration: 1s;
}
.add-item-button {
	background: aqua;
}