.collapse-btn {
	padding: 1px;
}
.list-item-selected {

}
.menu-list-group-item {
	padding: 1px;
}
.add-list-item-button.btn {
	padding: 0;
}
.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
.selected-list-item-button {
	opacity: 0.5;
}