<div *ngIf="item" class="container">
    <h3>{{item.name}}</h3>
    <div *ngFor="let attributeValue of attributeValues" class="row">
        <div class="col-8">
            <label class="col-form-label">{{attributeValue.attribute.name}}</label>
            <label *ngIf="!isAddAttributeValue" class="col-form-label">({{attributeValue.region.name}})</label>
        </div>
        <div class="col-4">
            <input class="form-control" type="number" [(ngModel)]="attributeValue.doubleValue"
                   (change)="attributeValueChange(attributeValue)" [disabled] = "!isAddAttributeValue">
        </div>
    </div>
    <!--<ngx-select-dropdown [config]="{displayKey: 'name', search:true, placeholder:'Select',searchOnKey:'name'}"
                         [multiple]="false" [options]="getNouUseAttributes()"></ngx-select-dropdown>-->
    <select *ngIf="isAddAttributeValue" class="custom-select" (change)="addAttributeToList($event.target.value)">
        <option value="">--Оберіть спеціалізацію лікаря--</option>
       <ng-container *ngFor="let attribute of attributes">
           <option *ngIf="attribute.isVisible" [value]="attribute.item.id">{{attribute.item.name}}</option>
       </ng-container>
   </select>
</div>