<div class="container">
    <div class="row">
        <div class="btn-group dropright col-12">
            <button (click)="itemClick($event)" class="btn btn-block btn-secondary">
                <div>{{item.item.name}}</div>
            </button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropright</span>
            </button>
            <div class="dropdown-menu">
                <button type="button" class="btn btn-block" (click)="updateClick()">Update region</button>
                <button type="button" class="btn btn-block" (click)="deleteClick()">Remove region</button>
            </div>
        </div>
    </div>
</div>